{% extends "layout.html" %}
{% block content %}
{% for todo in todo %}
<div class="card p-1 m-3">

    <div class="card-body">
        {% if todo.completed == "True" %}
        <h5 class="card-title"><del>{{todo.name}}</del></h5>
        {% else %}
        <h5 class="card-title">{{todo.name}}</h5>
        {% endif %}
        <p class="card-text">{{todo.note}}</p>
        <p class="card-text">{{todo.completedTime }}</p>
        <a href="{{url_for ('updateTask', id=todo._id) }}" class="btn btn-outline-info">Update Task</a>
        <a href="{{url_for ('deletTask', id=todo._id) }}" class="btn btn-outline-danger">Delete Task</a>
    </div>
</div>
{% endfor %}
{% endblock %}